
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.lock

pids
logs
results
tmp

# API keys and secrets
#.env

# Dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*
buildDocker.sh
# MongoDB data and Ethereum data
data/
data_test/
ethereum/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

package-lock.json
npm-debug.log

# MongoDB data
data/
data-dev/

.env